/* Basislayout */

html, body {
    height: 100%;
    padding: 0;
    background-color: #EEEEEE;  
    
    color: #303030;
    font: Verdana, Arial, Sans-Serif;
}


main {
    margin: 0 auto;
    width: 700px;
    position: relative;
}


article {
    text-align: justify;
}


header {
    color: #6699ff;
    text-align: center;
    font-weight: 50px;
}


footer {
    text-align: center;
    padding-bottom: 10px;
    clear: both;
}


/* specifieke stijlen */

img.index1 {
    float: left;
    margin-right: 15px;
    margin-bottom: 10px;
    width: 300px;
}

img.index2 {
    float: right;
    margin-left: 15px;
    height: 300px;
}

img.merch {
    float: right;
    margin-left: 10px;
    margin-bottom: 10px;
    width: 300px;
}

img.merch-links {
    float: left;
    width: 200px;
    border: 5px, black dashed;
}

img.merch-midden {
    width: 200px;
    border: 5px;
}

img.merch-rechts {
    width: 200px;
    border: 5px, black, dashed;
}

img.onlythebeginning {
    width: 200px;
    float: left;
    margin-right: 15px;
    margin-bottom: 15px;
}
.paragraaf2{
    clear: both;
}

.paragraaf3 {
    clear: both;
}

.platenmaatschappij {
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 10px;
}

.smalltext {
    font-size: 0.7em;
}

a {
    color: #0000ff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

h4 {
    font-weight: bold;
    background-color: #ccffff;
}
h3 {
    font-weight: bold;
    background-color: rgb(190, 241, 237);
}

.jonah {
    height: 200px;
    float: left;
    margin-bottom: 10px;
    margin-right: 10px;
}

.corbyn {
    clear:both;
}

.Corbyn {
    height: 200px;
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
}
.daniel {
    height: 200px;
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
}

.Daniel {
    clear: both;
}

.jack {
    clear: both;
}

.Jack {
    height: 200px;
    float: left;
    margin-right: 10px;
    margin-bottom: 40px;

}
.zach {
    height: 200px;
    float:left;
    margin-right: 10px;
    margin-bottom: 40px;
}

.album-cover {
    height: 200px;
    float: right;
    margin-left: 10px;
    margin-bottom: 10px;
}

#info-album {
    margin-top: 10px;
}

/* navigatiebalk */
nav ul {
    list-style-type: none;
    margin: auto;
    padding: 0;
    background-color: #99ffcc;
    overflow: hidden;
}

nav ul li {
    float: left;
}

nav li a {
    display: block;
    color: black;
    font-weight: bold;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav li a:hover {
    background-color: #ff99ff;
}

nav li a.active {
    background-color: rgb(135, 158, 235);
}

.mail {
    clear: both;
}

