/* Basislayout */

html, body {
    height: 100%;
    padding: 0;
    background-color: #ffffff;  
    
    color: #303030;
    font: Verdana, Arial, Sans-Serif;
}

main {
    margin: 0 auto;
    width: 700px;
    position: relative;
}

article {
    text-align: justify;
}


header {
    color: #6699ff;
    text-align: center;
    font-weight: 50px;
}

footer {
    text-align: center;
    padding-bottom: 10px;
    clear: both;
}

/* animaties */

@keyframes kleurverandering {
    0% {
        color: #ff99ff; 
    }
    25% {
        color: #9999ff;
    }
    50% {
        color: #6699ff;
    }
    75% {
        color: #3399ff;
    }
    100% {
        color: #0099ff;
    }
}

.kleurverandering {
    animation: kleurverandering 5s infinite;
}

@keyframes slide-rechts{
    0% {
        left: -200px;
    }
    100% {
        left: 0px;
    }

}

#slide-rechts {
    position: relative;
    animation: slide-rechts 5s;
}

@keyframes slide-links {
    0% {
        right: -200px;
    }
    100% {
        right: 0px
    }
}

#slide-links {
    position: relative;
    animation: slide-links 5s;
}


@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
#fade-in {
    animation: fade-in 5s;
}

/* specifieke stijlen. Hiermee bedoel ik alle classes en ids die worden gebruikt per mapje */

/* classes + id's footer */

#logo1 {
    float: left;
    height: 70px;
}

#logo2{
    float: right;
    height: 70px;
}

.smalltext {
    font-size: 0.7em;
}

/* classes home */

img.index1 {
    float: left;
    margin-right: 15px;
    margin-bottom: 10px;
    width: 300px;
    border: 5px black groove;
}

.link {
    text-align: center;
    font-weight: bold;
}

/* classes leden */

.Daniel {
    clear: both;
}

.jack {
    clear: both;
}

.corbyn {
    clear:both;
}

.jonah {
    height: 200px;
    float: left;
    margin-bottom: 10px;
    margin-right: 10px;
    border: 5px #99ccff groove;
}

.Corbyn {
    height: 200px;
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
    border: 5px #66ccff groove;
}

.daniel {
    height: 200px;
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
    border: 5px #ccccff groove;
}

.Jack {
    height: 200px;
    float: left;
    margin-right: 10px;
    margin-bottom: 40px;
    border: 5px #ffccff groove;

}
.zach {
    height: 200px;
    float:left;
    margin-right: 10px;
    margin-bottom: 40px;
    border: 5px #33ccff groove;
}

/* classes + id's succes*/

.wdw2016 {
    float: left;
    margin-right: 15px;
    margin-bottom: 15px;
    margin-top: 15px;
    width: 150px;
}

#samenwerking {
    clear: both;
}

.tour {
    width: 250px;
    float: right;
    margin-left: 15px;
    margin-bottom: 15px;
    margin-top: 15px;
}

/* classes muziek */

img.onlythebeginning {
    width: 200px;
    float: left;
    margin-right: 15px;
    margin-bottom: 15px;
}

.foto-8-letters {
    float: left;
    height: 130px;
    margin-right: 10px;
    margin-bottom: 10px;
}

.tgtatbo {
    clear: both;
}

.album-cover {
    height: 200px;
    float: right;
    margin-left: 10px;
    margin-bottom: 10px;
}

.video-fallin {
    text-align: center;
}

/* classes + id's merchandise */

img.merch {
    float: right;
    width: 200px;
    margin-left: 10px;
    margin-bottom: 10px;
}

h4.lijst-merch {
    clear: both;
}

.merch-kleding {
    width: 200px;
    margin: 4px;
    border: 2px #aaaaff dashed;
}

/* classes voor de linkjes*/

a {
    color: #0000ff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* styling voor de h3 en h4 */

h4 {
    font-weight: bold;
    background-color: #ccffff;
}

h3 {
    font-weight: bold;
    background-color: rgb(190, 241, 237);
}

/* navigatiebalk */
nav ul {
    list-style-type: none;
    margin: auto;
    padding: 0;
    background-color: #99ffcc;
    overflow: hidden;
}

nav ul li {
    float: left;
}

nav li a {
    display: block;
    color: black;
    font-weight: bold;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    border-left: 1px black dashed;
}

nav li a:hover {
    background-color: #ff99ff;
}

nav li a.active {
    background-color: #6699ff;;
}